<div>
    <div
        id="mainBG"
        style="background-image: url('{{ if $.Site.Params.mainbg }}{{ $.Site.Params.mainbg }}{{ else }}https://source.unsplash.com/collection/43861294/1920x1080{{ end }}');"
        >
        <div
            class="wave wave1"
            style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
            ></div>
        <div
            class="wave wave2"
            style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
            ></div>
        <div
            class="wave wave3"
            style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
            ></div>
        <div
            class="wave wave4"
            style="background-image: url('{{ .Site.BaseURL }}/img/wave.png');"
            ></div>
        <div class="centerAll ">
            <div class="justify-center">
                <img
                    src="//superheroesvalley.fun/img/logo.png"
                    width="400px"
                    height="400px"
                />
            </div>
            <div class="md:flex justify-center">
            </div>
            <div class="text text-xl text-center">Behind a superhero, there is always a human being.</div>
        </div>
    </div>
    {{ $data := .Site.Data.home }}
    <main class="container mx-auto mt-8 px-4 xl:px-0 ">
        <section id="descriptions" class="md:flex ml-10">
            <div class=" my-auto md:mr-4">
                {{ range $data.descriptions_eng.list }}
                <div class="flex mt-10 gap-3 text-xl" >
                    {{ partial "home_title" (dict "title" .question) }}
                </div>
                <div class="">
                    <p class="text-lg">
                        {{ replace .text "\n" "<br />" | safeHTML }}
                    </p>
                </div>
                {{end}}
        </section>
        <hr class="aligncenter mt-10 " style="height: 2px; width:100%; background-color:grey">
        <section id="join_us" class="mt-8">
            <div class="md:flex justify-center">
                {{ partial "home_title" (dict "title" "How to become a Superhero?") }}
            </div>
            <div class=" my-auto md:mr-4">
                <ul>
                {{ range $data.descriptions_eng.howto }}
                <div class=" ml-10 mt-3">
                    <li class="text-lg">
                        {{ replace .question "\n" "<br />" | safeHTML }}
                    </li>
                </div>
                </ul>
                {{end}}
            </div>
            <div class="md:flex mt-10 gap-20 text-xl justify-center">
                {{ range $data.join_us.link }}
                <div class="">
                    <a class="justify-center" href="{{ .join_url }}">
                        <img
                            src="{{ .icon_url }}"
                            width="100px"
                            />
                        <div class="md:flex mt-5 font-bold text-xl my-auto ml-2">
                            {{ .name }}
                        </div>
                    </a>
                </div>
                {{end}}
            </div>
        </section>
        <hr class="aligncenter mt-10 " style="height: 2px; width:100%; background-color:grey">
        <section id="speakers" class="mt-8 ml-10">
            <div class="md:flex">
                {{ partial "home_title" (dict "title" "Speakers") }}
            </div>

            {{if $data.speakers.list}}
            <div
                class="mt-8 grid grid-flow-row grid-cols-1 md:grid-cols-4 lg:grid-cols-4 gap-20"
                >
                {{ range $data.speakers.list }}
                <div align="center" class="w-48 rounded overflow-hidden">
                    <img
                        class="h-48"
                        src="{{ .image }}"
                        alt="{{ .title }}"
                        />
                    <div class="px-6 py-4 ">
                        <div class="font-bold  mb-2">{{ .title }}</div>
                        <p class="text-gray-700 text-base">
                            {{ .text }}
                        </p>
                    </div>
                </div>
                {{end}}
            </div>
            {{else}}
            <div class="mt-4 text-xl text-center">Stay Tuned...</div>
            {{end}}
        </section>
        <hr class="aligncenter mt-10 " style="height: 2px; width:100%; background-color:grey">
        <div class="md:flex justify-center mt-10">
            {{ partial "home_title" (dict "title" "Intro") }}
        </div>
        <div class="md:flex justify-center mt-10 w-full">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/c74chBFVylY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr class="aligncenter mt-10 " style="height: 2px; width:100%; background-color:grey">
        <section id="about_us" class="mt-8">
            <div class="md:flex justify-center">
                {{ partial "home_title" (dict "title" "About us") }}
            </div>

            <div class="md:flex justify-center">
                {{if $data.about_us.list}}
                <div
                    class="mt-8 grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 "
                    >
                    {{ range $data.about_us.list }}
                    <div align="center" class="w-48 rounded overflow-hidden">
                        <img
                            class="h-48"
                            src="{{ .image }}"
                            alt="{{ .title }}"
                            />
                        <div class="px-6 py-4 ">
                            <div class="font-bold  mb-2">{{ .title }}</div>
                            <p class="text-gray-700 text-base">
                                {{ .text }}
                            </p>
                        </div>
                    </div>
                    {{end}}
                </div>
                {{else}}
                <div class="mt-4 text-xl text-center">Team does not exist</div>
                {{end}}
            </div>
        </section>
    </main>
</div>
